{% extends 'base/base.html' %}

{% block title %}RemoMovie{% endblock %}

{% block content %}

<!--preloading-->
<div id="preloader">
    <img class="logo" src="../../../images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
    
{#{% include 'auth/login.html' %}    #}
    
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="#">
            <div class="row">
                 <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>
           
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

{# Header #}
{% include 'base/header.html' %}

<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-googleplus"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>
	    	<div  class="slick-multiItemSlider">
                {% for movie in movies %}
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="{% url 'movie_detail' movie.id %}"><img src="{{ movie.image.url }}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
                                <span class="blue"><a href="">{{ movie.genres.first }}</a></span>
	    				</div>
	    				<h6><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
                {% endfor %}
	    	</div>
	    </div>
	</div>
</div>
<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">

                {# In Theater #}
                {% include 'pages/homepage/blocks/in_theater.html' %}
                
				{# On Tv #}
                {% include 'pages/homepage/blocks/on_tv.html' %}

			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="ads">
						<img src="../../../images/uploads/ads1.png" alt="" width="336" height="296">
					</div>
                    
                    {# Celebrity #}
                    {% include 'pages/homepage/blocks/celebrities.html' %}
                    
				</div>
			</div>
		</div>
	</div>
</div>

<div class="trailers">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>Трейлеры</h2>
					<a href="{% url 'movies_list' %}" class="viewall">Смотреть все <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="videos">
				 	<div class="slider-for-2 video-ft">
                        {% for trailer in trailers %}
				 		<div>
					    	{{ trailer.link|safe }}
                        </div>
                        {% endfor %}
					</div>
					<div class="slider-nav-2 thumb-ft">
                        
                        {% for trailer in trailers %}
						<div class="item">
							<div class="trailer-img">
								<img src="{{ trailer.movie.image.url }}" alt="photo by Barn Images" width="4096" height="2737">
							</div>
							<div class="trailer-infor">
	                        	<h4 class="desc">{{ trailer.movie.title }}</h4>
	                        </div>
						</div>
                        {% endfor %}
					
					</div>
				</div>   
			</div>
		</div>
	</div>
</div>
<!-- latest new v1 section-->
<div class="latestnew">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">
				<div class="title-hd">
					<h2>Последние новости</h2>
				</div>
				<div class="tabs" style="margin-left: 0">
					<ul class="tab-links-3">
						<li class="active"><a href="#tab31">#Movies </a></li>
						<li><a href="#tab32"> #TV Shows </a></li>              
						<li><a href="#tab33">  # Celebs</a></li>                       
					</ul>
				    <div class="tab-content">
				        <div id="tab31" class="tab active">
				            <div class="row">
				            	<div class="blog-item-style-1">
				            		<img src="{{ news.image.url }}" alt="" width="170"
                                         height="250">
				            		<div class="blog-it-infor">
{#				            			<h3><a href="{% url 'news_detail' news.id %}">{{ news.title }}</a></h3>#}
				            			<span class="time">{{ news.created_at }}</span>
				            			<p>
                                            {{ news.description|truncatewords:100 }}
                                        </p>
				            		</div>
				            	</div>
				            </div>
				        </div>
				    </div>
				</div>w
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="sb-facebook sb-it">
						<h4 class="sb-title">Мы в Facebook</h4>
{#						<iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.faceb#}
{#						ook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=300&height=315px&small_header=tru#}
{#						e&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="300" height="315" style="border:none;overflow:hidden" ></iframe>#}
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fitacademyosh%2F&tabs=timeline&width=300&height=315&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end of latest new v1 section-->

{# Footer #}
{% include 'base/footer.html' %}

{% endblock content %}