<div class="title-hd">
    <h2>В театре</h2>
    <a href="{% url 'movies_grid' %}" class="viewall">Смотреть все <i class="ion-ios-arrow-right"></i></a>
</div>
<div class="tabs">
    <div class="tab-content">
        <div id="tab1" class="tab active">
            <div class="row">
                <div class="slick-multiItem">
                
                    {% for movie in in_theater %}
                    <div class="slide-it">
                        <div class="movie-item">
                            <div class="mv-img">
                                <img src="{{ movie.image.url }}" alt="" width="185" height="284">
                            </div>
                            <div class="hvr-inner">
                                <a  href="{% url 'movie_detail' movie.id %}"> Смотреть <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="title-in">
                                <h6><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h6>
                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
                </div>
            </div>
        </div>
{#        <div id="tab2" class="tab">#}
{#           <div class="row">#}
{#                <div class="slick-multiItem">#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item5.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Interstellar</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item6.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">The revenant</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item7.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Die hard</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item8.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">The walk</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item3.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Die hard</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div id="tab3" class="tab">#}
{#            <div class="row">#}
{#                <div class="slick-multiItem">#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item1.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Interstellar</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item2.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">The revenant</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item3.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Die hard</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item4.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">The walk</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item3.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Die hard</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div id="tab4" class="tab">#}
{#            <div class="row">#}
{#                <div class="slick-multiItem">#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item5.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Interstellar</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item6.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">The revenant</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item7.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Die hard</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item8.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">The walk</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="slide-it">#}
{#                        <div class="movie-item">#}
{#                            <div class="mv-img">#}
{#                                <img src="../../../images/uploads/mv-item3.jpg" alt="" width="185" height="284">#}
{#                            </div>#}
{#                            <div class="hvr-inner">#}
{#                                <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#                            </div>#}
{#                            <div class="title-in">#}
{#                                <h6><a href="#">Die hard</a></h6>#}
{#                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>