{% extends 'base/base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<!--preloading-->
<div id="preloader">
    <img class="logo" src="../../../../../../images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="#">
        	<div class="row">
        		 <label for="username">
                    Username:
                    <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
        	</div>
           
            <div class="row">
            	<label for="password">
                    Password:
                    <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
            	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
            		<a href="#">Forget password ?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
        <div class="row">
        	<p>Or via social</p>
            <div class="social-btn-2">
            	<a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
            	<a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="#">
            <div class="row">
                 <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>
           
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

{# Header #}
{% include 'base/header.html' %}

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img">
					<img src="{{ movie.image.url }}" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red" style="margin-bottom: 0px">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Смотреть трейлер</a></div>
							<div><a href="{{ movie.trailer.first.link }}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{ movie.title }} <span>{{ movie.release_date.year }}</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Обзор</a></li>
								<li><a href="#reviews"> Отзывы</a></li>
								<li><a href="#cast"> Состав</a></li>
								<li><a href="#media"> Медиа</a></li> 
								<li><a href="#moviesrelated"> Похожие фильмы</a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{ movie.description }}</p>
											<div class="title-hd-sm">
												<h4>Актёры</h4>
												<a href="#cast" class="time">Смотреть полностью  <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">

                                                {% for celebrity in movie.celebrity.all %}
                                                <div class="cast-it">
													<div class="cast-left">
														<img src="{{ celebrity.image.url }}" alt="" style="width: 60px; height: 90px">
														<a href="{% url 'celebrity_detail' celebrity.id %}">{{ celebrity.full_name }}</a>
													</div>
													<p>{{ celebrity.bio|truncatewords:3 }}</p>
												</div>
											    {% endfor %}

                                            </div>
											<div class="title-hd-sm">
												<h4>Отвыз пользователя</h4>
												<a href="#" class="time">Посмотреть остальные {{ movie.reviews.count }} шт. <i class="ion-ios-arrow-right"></i></a>
											</div>
                                            
										    {% if movie.reviews.first %}
											<!-- movie user review -->
											<div class="mv-user-review-item">
												<h3>{{ movie.reviews.first.object }}</h3>
												<div class="no-star">
                                                    
                                                    {% for a in appraisal %}
													<i class="ion-android-star"></i>
													{% endfor %}
                                                    
                                                    {% for a in appraisal_default %}
                                                    <i class="ion-android-star last"></i>
                                                    {% endfor %}
                                                
												</div>
												<p class="time">
                                                    {{ movie.reviews.first.created_at }} by <a href="#"> {{ movie.reviews.first.user.username }}</a>
												</p>
												<p>
                                                    {{ movie.reviews.first.text }}
                                                </p>
											</div>
						            	    {% else %}
                                                <h1>Отзывов пока нет</h1>
                                            {% endif %}
                                        
                                        </div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Режиссёр: </h6>
						            			{% if movie.director.first %}
                                                    <p>Director: <a href="{% url 'director_detail' movie.director.first.id %}">{{ movie.director.first.full_name }}</a></p>
                                                {% else %}
                                                    <p>No director information available</p>
{% endif %}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Актёры: </h6>
						            			<p>
                                                    {% for celebrity in movie.celebrity.all %}
                                                    <a href="{% url 'celebrity_detail' celebrity.id %}">{{ celebrity.full_name }}</a>
                                                    {% endfor %}
                                                </p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Жанры:</h6>
						            			<p>
                                                    {% for genre in movie.genres.all %}
                                                    <a>{{ genre.title }} </a>
                                                    {% endfor %}
                                                </p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Дата выхода:</h6>
						            			<p>{{ movie.release_date }}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Продолжительность:</h6>
						            			<p>{{ movie.run_time }} min</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>MMPA Рейтинг:</h6>
						            			<p>{{ movie.mpaa_rating }}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Plot Keywords:</h6>
						            			<p class="tags">
						            				<span class="time"><a href="#">superhero</a></span>
													<span class="time"><a href="#">marvel universe</a></span>
													<span class="time"><a href="#">comic</a></span>
													<span class="time"><a href="#">blockbuster</a></span>
													<span class="time"><a href="#">final battle</a></span>
						            			</p>
						            		</div>
						            		<div class="ads">
												<img src="../../../images/uploads/ads1.png" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>Отзывы на фильм</h3>
						       	 				<h2>{{ movie.title }}</h2>
							            	</div>
							            	<a href="#" class="redbtn">Написать</a>
						            	</div>
						            	<div class="topbar-filter">
											<p>Найдено <span>{{ movie.reviews.count }} отзыва</span></p>
										</div>
										
                                       {% for review in movie.reviews.all %}
                                       <div class="mv-user-review-item">
											<div class="user-infor">
												<img src="../../../images/uploads/userava1.jpg" alt="">
												<div>
													<h3>{{ review.object }}</h3>
													<div class="no-star">
                                                    
                                                        {% for a in appraisal %}
														<i class="ion-android-star"></i>
                                                        {% endfor %}
                                                    
                                                        {% for a in appraisal_default %}
														<i class="ion-android-star last"></i>
													    {% endfor %}
                                                    
                                                    </div>
													<p class="time">
                                                        {{ review.created_at }} by <a href="#"> {{ review.user.username }}</a>
													</p>
												</div>
											</div>
											<p>
                                                {{ review.text }}
                                            </p>
										</div>
                                       {% endfor %}
                                       
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Режиссёр и Актёры фильма</h3>
					       	 			<h2>{{ movie.title }}</h2>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Режиссёры</h4>
										</div>
										<div class="mvcast-item">											
											<div class="cast-it">

                                                {% for director in movie.director.all %}
												<div class="cast-left">
													<h4>{{ director.full_name.0 }}</h4>
													<a href="{% url 'director_detail' director.id %}">{{ director.full_name }}</a>
												</div>
												<p>...  Director</p>
                                                {% endfor %}

											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Актёры</h4>
										</div>
										<div class="mvcast-item">											

                                            {% for celebrity in movie.celebrity.all %}
                                            <div class="cast-it">
												<div class="cast-left">
													<img src="{{ celebrity.image.url }}" alt="" style="width: 55px">
													<a href="{% url 'celebrity_detail' celebrity.id %}">{{ celebrity.full_name }}</a>
												</div>
												<p>{{ celebrity.bio|truncatewords:3 }}</p>
											</div>
                                            {% endfor %}

										</div>
						            </div>
					       	 	</div>
					       	 	<div id="media" class="tab">
						        	<div class="row">
						        		<div class="rv-hd">
						            		<div>
						            			<h3>Видео & Изображения</h3>
					       	 					<h2>{{ movie.title }}</h2>
						            		</div>
						            	</div>
										<div class="title-hd-sm">
											<h4>Фотография <span> ({{ movie.movie_image_media.count }})</span></h4>
										</div>
										<div class="mvsingle-item">

                                            {% for media in movie.movie_image_media.all %}
											<a class="img-lightbox"  data-fancybox-group="gallery" href="{{ media.image.url }}" ><img src="{{ media.image.url }}" alt="" style="width: 100px; height: 100px"></a>
										    {% endfor %}

                                        </div>
						        	</div>
					       	 	</div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Фильмы похожие на</h3>
					       	 			<h2>{{ movie.title }}</h2>
					       	 			<div class="topbar-filter">
											<p>Найдено <span>{{ related_movies.count }} фильмов</span></p>
										</div>

                                        {% for movie in related_movies.all %}
										<div class="movie-item-style-2">
											<img src="{{ movie.image.url }}" alt="">
											<div class="mv-item-infor">
												<h6><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }} <span>({{ movie.release_date.year }})</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
												<p class="describe">{{ movie.description|truncatewords:10 }}</p>
												<p class="run-time"> Run Time: {{ movie.run_time }}’    .     <span>MMPA: {{ movie.mpaa_rating }} </span>    .     <span>Release: 1 May 2015</span></p>

                                                {% if movie.director.first %}
                                                    <p>Director: <a href="{% url 'director_detail' movie.director.first.id %}">{{ movie.director.first.full_name }}</a></p>
                                                {% else %}
                                                    <p>No director information available</p>
{% endif %}

												<p>Stars:
                                                    {% for artist in movie.celebrity.all %}
                                                    <a href="{% url 'celebrity_detail' artist.id %}">{{ artist.full_name }},</a>
                                                    {% endfor %}
                                                </p>
											</div>
										</div>
					       	 		    {% endfor %}

                                    </div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{# Footer #}
{% include 'base/footer.html' %}

{% endblock content %}