{% extends 'base/base.html' %}

{% block title %}
	{{ user.username }}
{% endblock %}


{% block content %}
    
<!--preloading-->
<div id="preloader">
    <img class="logo" src="../../../images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

{% include 'base/header.html' %}

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1 style="margin-right: 0">{{ user.first_name }} {{ user.last_name }}'s profile</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'homepage' %}">Главная</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Профиль</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img style="border-radius: 100%; width: 200px; height: 200px" src="
                            {% if user.avatar %}
                                {{ user.avatar.url }}
                            {% else %}
                            {% endif %}
                        " alt=""><br></a>
                        <form action="{% url 'change_avatar' user.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="avatar">
                            <button class="redbtn" type="submit">Изменить аватар</button>
                        </form>
					</div>
					<div class="user-fav">
						<p>Детали аккаунта</p>
						<ul>
							<li  class="active"><a href="{% url 'profile' %}">Профиль</a></li>
							<li><a href="{% url 'favorite_movie' %}">Любимые фильмы</a></li>
						</ul>
					</div>
					<div class="user-fav">
						<p>Другие</p>
						<ul>
							<li><a href="{% url 'logout' %}">Выйти</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="">
					<form action="{% url 'change_profile' user.id %}" class="user" method="post">
                        {% csrf_token %}
						<h4>Детали профиля</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Имя пользователя</label>
								<input type="text" placeholder="{{ user.username }}" name="username" value="{{ user.username }}">
							</div>
							<div class="col-md-6 form-it">
								<label>Почта</label>
								<input type="text" placeholder="{{ user.email }}" name="email" value="{{ user.email }}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Имя</label>
								<input type="text" placeholder="{{ user.first_name }}" name="first_name" value="{{ user.first_name }}">
							</div>
							<div class="col-md-6 form-it">
								<label>Фамилия</label>
								<input type="text" placeholder="{{ user.last_name }}" name="last_name" value="{{ user.last_name }}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="Сохранить">
							</div>
						</div>	
					</form>
					<form action="{% url 'change_password' user.id %}" class="password" method="post">
                        {% csrf_token %}
						<h4>Изменить пароль</h4>
                        
                        {% if error %}
                            <p style="color: red">* {{ error }}</p>
                        {% else %}   
                        {% endif %}
                        
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Старый пароль</label>
								<input type="text" placeholder="**********" name="old_password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Новый пароль</label>
								<input type="text" placeholder="***************" name="password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Повторите новый пароль</label>
								<input type="text" placeholder="***************" name="new_password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="Изменить">
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
    
{% include 'base/footer.html' %}
    
{% endblock %}
